.number-pokemon{
    font-size: 9.5rem;
    font-weight: bold;;
    color: #e7e7e7;
}
.text-stats{
    font-size: 1.1rem;
    font-weight: bold;
    color: #666;
    text-align: end;
}
.number-stats{
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}