.number-pokemon{
    font-size: 9.5rem;
    font-weight: bold;;
}
.text-stats{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: end;
}
.number-stats{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}