<div class="w-full h-120 mt-12 bg-gray-200 dark:bg-zinc-700">
  <div class="w-11/12 bg-gray-200 h-full flex dark:bg-zinc-700">
    <div class="flex w-7/12 bg-gray-200 items-center justify-center dark:bg-zinc-700">
      <div
        class="relative max-w-[800px] w-9/12 h-11/12 bg-white rounded-xl shadow-lg dark:bg-zinc-800"
      >
      <div
        class="absolute bg-white -top-5 -left-5 flex justify-center items-center rounded-full w-15 h-15 z-2 bg-white dark:bg-zinc-800"
      >
        <span class="text-sm text-zinc-400 dark:text-zinc-400">{{ pkm?.height / 10 }}m</span>
      </div>
      <div
        class="absolute -top-5 -right-5 bg-white flex justify-center items-center rounded-full w-15 h-15 z-2 bg-white dark:bg-zinc-800"
      >
        <span class="text-sm text-zinc-400 dark:text-zinc-400">{{ pkm?.weight / 10 }}kg</span>
      </div>
        <div class="absolute w-full flex justify-center bottom-50 z-0">
          <span class="number-pokemon text-gray-200 dark:text-zinc-600">#{{ pkm?.order }}</span>
        </div>
        <div class="absolute w-full top-28 flex justify-center w-64 h-64">
          <img [src]="pkm?.image" alt="Pokemon"  />
        </div>
        <div class="absolute w-full bottom-10 flex flex-col items-center z-3">
          <span class="name-pkm capitalize text-zinc-500 dark:text-zinc-400">{{ pkm?.name }}</span>
          <div class="flex gap-4 mt-2">
            @for (type of pkm.types; track $index) {
            <span [style.color]="type.color" class="text-type">
               {{ ('navbar.types.' + type.name ) | translate }}
            </span>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="flex relative w-5/12 bg-gray-200 mt-10 dark:bg-zinc-700 ">
      <div class="w-full h-11/12 flex justify-center flex-col">
        @for (stats of pkm.stats; track $index) {
          <div class="grid grid-cols-4 gap-4 mb-2 items-center text-zinc-500 dark:text-zinc-400">
            <span class="text-stats">{{('stats.'+stats.stat.name) | translate}}</span>
            <span class="number-stats">{{stats.base_stat}}</span>
            <div class="w-60 bg-gray-300 rounded-full h-2.5 dark:bg-zinc-800">
              <div
                class="bg-gray-500 h-2.5 rounded-full dark:bg-zinc-400"
                [style.width]="(stats.base_stat/252 * 100) + '%'"
              ></div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
